<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buybuybuy">

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_category_baoyou"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--TODO:####################TODO:友盟统计与分享所需要内容####################-->
        <!--57fef05b67e58e4c86000c49   一元天天抢-->
        <meta-data android:value="57fef05b67e58e4c86000c49" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Wandoujia" android:name="UMENG_CHANNEL"/>
        <activity
            android:name=".ui.person.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay callback-->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--TODO:###################################################################-->

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.hot.SearchActivity" />
        <activity android:name=".ui.sort.DetaillastActivity" />
        <activity android:name=".ui.sort.DetialsActivity" />
        <activity android:name=".ui.sort.TaoBaoActivity" />
        <activity android:name=".ui.hot.SearchWebActivity"></activity>

        <activity android:name=".ui.person.activity.FiveBody1Activity" />
        <activity android:name=".ui.person.activity.FiveBody2Activity" />
        <activity android:name=".ui.person.activity.FiveBody3Activity" />
        <activity android:name=".ui.person.activity.FiveBody4Activity" />
        <activity android:name=".ui.person.activity.FiveBody5Activity" />
        <activity android:name=".ui.person.activity.FiveBody6Activity" />
        <activity android:name=".ui.person.activity.FiveBody7Activity" />
        <activity android:name=".ui.person.activity.FiveBody8Activity" />
        <activity android:name=".ui.person.activity.FiveBody9Activity" />
        <activity android:name=".ui.person.activity.FiveBody10Activity" />
        <activity android:name=".ui.person.activity.FiveBody11Activity" />
        <activity android:name=".ui.person.activity.FiveBody12Activity" />
        <activity android:name=".ui.person.activity.FiveBody13Activity" />
        <activity android:name=".ui.person.activity.FiveBody14Activity" />
        <activity android:name=".ui.person.activity.FiveTop1Activity" />
        <activity android:name=".ui.person.activity.FiveTop2Activity" />
        <activity android:name=".ui.person.activity.FiveTop3Activity" />
        <activity android:name=".ui.person.activity.FiveTop4Activity" />
        <activity android:name=".ui.person.activity.FiveLoginActivity" />
        <activity android:name=".ui.person.activity.FiveRegisterActivity" />
        <activity android:name=".ui.person.activity.FiveTopActivity" />
        <activity android:name=".ui.person.activity.FiveBottomActivity"></activity>

    </application>

</manifest>